@model ICollection<Show>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/catalog.css">
    <script src="/js/catalog.js"></script>
    <title> Catalog page </title>
</head>
<body>

    <ul class="nav">
        <li><a asp-action="Index" asp-route-sortOrder="genre">Sort by genre</a></li>
        <li><a asp-action="Index" asp-route-sortOrder="price">Sort by price</a></li>
        <li><a asp-action="Index" asp-route-sortOrder="date"> Sort by date </a></li>
    </ul>

    <h1>REPERTOIRE</h1>
    <div class="box">
        <p class="exampleText">.</p>
    </div>

    <section class="grid-container">
        @{
            foreach (Show show in Model) {
                <div class="grid-item">
                    <img src="@show.ImageUrl" alt="@show.Title">
            @{
                if (show.GenreId == 1) {
                    <h3>Opera</h3>
                } else if (show.GenreId == 2) {
                    <h3>Concert</h3>
                } else if (show.GenreId == 3) {
                    <h3>Play</h3>
                } else if (show.GenreId == 4) {
                    <h3>Ballet</h3>
                }
            }
                    <h2>@show.Title</h2>
                    <p class="date">@show.Date.Year/@show.Date.Month/@show.Date.Day</p>
                    <p class="tickets">@show.AvailableTickets Available tickets</p>
                    <div class="btn-group">
                        <a class="button" asp-action="BuyTicket" asp-route-id="@show.ShowId">BUY TICKET</a>
                        <button class="price">@show.Price DKK</button>
                    </div>
                </div>
            }
        }
    </section>

    <footer></footer>

</body>
</html>
